@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: "url('../src/images/tulu-background1.png')";
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat:no-repeat;
}